<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Back to Home</title>
    <link rel="stylesheet" href="{% static newsstyle.css %}"/>
</head>
<body>
    <h1>{{ mainmsg }}</h1>
    <hr/>
    <a href="/">Back to Home</a>
    <br/><br/>
    <ul>
        <li><h2>{{ submsg1 }}</h2></li>
        <li><h2>{{ submsg2 }}</h2></li>
        <li><h2>{{ submsg3 }}</h2></li>
    </ul>
    <img src="{% static photo %}" alt="missing" />
    <br/>
    <a href="/">Back to Home</a>
</body>
</html>