body{
    background-color: lightblue;
}
h1{
    color:blue;
    background-color: lightyellow;
    text-align: center;
    border: 2px solid red;
}
img{
    width: 200px;
    height: 150px;
}
span{
    background-color: yellow;
}